<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} {% endblock %} - Rock Paper Scissor</title>

<link href="styles.css" rel="stylesheet" type="text/css">
</head>

<body>
<div style="margin-left: auto; margin-right: auto;text-align: center"> 
  <hr>
    <img src="../static/rps.png" alt="Rock Paper Scissor Game" width="200" height="200"></img-src> 
    <br>
   </div>    
  <p>{% block content %} {% endblock %} </p>
  <hr>
  <img src="../static/flask.png" height="60">
  <img src="../static/python10.jpg" height="60">
  <a href="https://github.com/palucaville/rps_flask">
    <img src="../static/github_logo.jpg" height="60">
  
</div>
</body>
</html>