{% extends 'base.html' %}
 
{% block content %}

<div style="margin-left: auto; margin-right: auto;text-align: center"> 
  <h2>last game: {{ last_result }}</h2>
      
  <form action="/play" method="post">
    <input type="radio" name="choice" value="rock" id="rock">
    <label for="rock">rock<img src="../static/rock.png" alt="rock" width="70" height="70" style="display: block; margin: 0 auto;"></label><br>
    <input type="radio" name="choice" value="paper" id="paper">
    <label for="paper">paper<img src="../static/paper.png" alt="paper" width="70" height="70" style="display: block; margin: 0 auto;"></label><br>
    <input type="radio" name="choice" value="scissors" id="scissors">
    <label for="scissors">scissors<img src="../static/scissor.png" alt="scissor" width="70" height="70" style="display: block; margin: 0 auto;"></label><br>
    <input type="submit" value="Play" style="width: 100px; height: 50px;">
  </form>

  </div>
{% endblock %}
